@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 10px;
    font-family: 'Inter', sans-serif;

    @apply bg-light dark:bg-dark text-dark dark:text-light;
}

body {
    font-size: 1.4rem;
}